body {
  font-family: 'Roboto', Helvetica, sans-serif;
  background-color: white;
  margin: 0;  
  line-height: 1.6rem; /*Line height increased for better readibility*/
  font-size: 1rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Lexend', sans-serif; /* Implemented a dyslexia-friendly font for headings. */
}

h3{
  color: #53218b;
}

h3, h2,a{
  color: #53218b;
}

a:visited{
  color: #53218b;
}

.container {
  max-width: 750px;
  margin: 0 auto;
  padding: 0 1rem;  
}

img {
  width: 100%;
}

.banner{
  object-fit: cover;
  max-height: 600px;
  border-bottom: 4px solid #53218b;
}

header h1{
  text-align: center;
}

footer{
  background-color: #ebe4f3;
}

.main-nav ul {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  background-color: #ebe4f3;  
  z-index: 1;
  position: relative;
}

.main-nav ul li {
  flex: 1;
  text-align: center;  
}

.main-nav ul li a {
  display: block;
  color: inherit;
  text-decoration: none;
  font-size: 1.25rem;
  padding: 0.9rem;
  border-bottom: 2px black;
}

/* Added hover state to nav links */
.main-nav ul li a:hover, form button:hover{
  background-color: #ffe564;
  text-underline-offset: 0.4em;
  text-decoration: underline;
}

form input,
form textarea {
  display: block;
  width: 100%;
  margin-bottom: 1rem;
  padding: .5rem 1rem;
  box-sizing: border-box;
  font-size: 1rem;
  font-family: 'Roboto', Helvetica, sans-serif;
}

form textarea {
  min-height: 150px;
  max-height: 150px;
  height: 150px;
  resize: none;
}

form button {
  font-size: 1rem;
  font-family: 'Roboto', Helvetica, sans-serif;
  background: none;
  border: 2px solid black;
  padding: 1rem;
  text-transform: uppercase;
  cursor: pointer; /* Added cursor pointer to form button */
  width: 20%; /* Increase size big enough for thumbs and users with difficulty using the mouse.  */
}

.site-footer {
  margin-top: 1rem;
  padding: 2rem;
}

/* ACCESIBILITY ASSIGMENT STYLES */

#skipnav{
  margin: 0;
  padding: 0;
  list-style-type: none;
}

#skipnav a{
  background-color: orange;
  color: #000;
  font-weight: bold;
  padding: 15px 5px;
  position: absolute;
  top: -60px;
  text-decoration:none;
}

#skipnav a:focus{
  outline: 4px solid deepskyblue;
  outline-offset: 4px;
  top:0;
}

.solid {
  position: relative;
  background: linear-gradient(to right, transparent, rgb(48,49,51), transparent);
  padding: 0.5px;
  margin: 2rem 0;
}


/* Keyboard Focus Styles */

.main-nav ul li a:focus, form input:focus, form textarea:focus, button:focus, a:focus { 
  outline: 4px solid deepskyblue;
  outline-offset: 4px;
}
